.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--primary-bg);
  z-index: 0;
  padding: 2rem 0;
}
.home-page::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 25%;
  top: 25%;
  left: 50%;
  border-radius: 50% 22% 40% 80%;
  filter: blur(75px);
  background: radial-gradient(circle at 50% 50%, #1b615a, #1b615a);
}
.home-page::before {
  position: absolute;
  content: "";
  width: 25%;
  height: 25%;
  bottom: 15%;
  left: 60%;
  border-radius: 50% 22% 40% 80%;
  filter: blur(75px);
  background: radial-gradient(circle at 50% 50%, #1a2d5e, #1a2d5e);
}
.container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.container .pre-content {
  line-height: 1.2;
}
.container .subheadline-text {
  color: var(--secondary-blue);
}
.container .quotes {
  margin-top: 4rem;
  line-height: 2.2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.container .quotes .code-snippet-text {
  color: var(--secondary-gray);
}
.container .githublink {
  color: var(--secondary-white);
  line-height: 2;
}
.container .container-image img {
  filter: brightness(1.1);
}
.container .githublink .orange span {
  text-decoration: underline;
}

/* Media Queries */
@media (max-width: 1200px) {
  .home-page .container {
    justify-content: center;
  }
  .home-page .container-image {
    display: none;
  }
}
@media (max-width: 480px) {
  .container .quotes {
    margin-top: 3rem;
  }
}
