.projects .filters li {
  color: var(--secondary-gray);
  margin: 1rem 2rem;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
}
.projects .filters li.view-all-projects {
  display: flex;
  align-items: center;
  margin: 1rem 1.9rem;
}
.projects .filters li.view-all-projects svg {
  width: 24px;
  height: 24px;
  margin-inline-end: 0.7rem;
}
.projects .filters li.view-all-projects a {
  font-size: 13px;
  color: var(--secondary-gray);
}
.projects .filters li.view-all-projects:hover a {
  color: var(--secondary-white);
}
.projects .filters li.view-all-projects:hover svg path {
  stroke: white;
}
.projects .filters li input[type="checkbox"] {
  width: 18.81px;
  height: 18.81px;
  gap: 0px;
  border-radius: 2px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-right: 0.5rem;
  background: none !important;
  cursor: pointer;
}

.projects .filters li svg {
  margin-inline-end: 0.5rem;
  cursor: pointer;
}
.projects .filters li input:checked + svg path {
  stroke: white;
}

.projects .filters li input:checked + svg + label {
  color: var(--secondary-white);
}
.projects .filters li label {
  cursor: pointer;
}

.pre-header {
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid var(--border-gray);
}
.pre-header .category-box.highlight {
  min-width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-inline-end: 1px solid var(--border-gray);
  border-bottom: none;
  padding: 0.8rem 2rem;
}
.pre-header .category-box .gap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.pre-header .category-box.highlight svg {
  margin-inline-start: 1rem;
  cursor: pointer;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 2rem;
  width: 100%;
  margin: auto;
  padding: 2rem 2rem;
}
/* responsive */

@media screen and (max-width: 1032px) {
  .projects-container {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 984px) {
  .projects-container {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  .pre-header {
    display: none;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
  }
  .projects .filters li {
    margin: 0.5rem 0.5rem;
  }
}
