.page-main {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.page-main::-webkit-scrollbar {
  display: none;
}
.page-main-content {
  position: relative;
  height: 100%;
}
